/* Home.css */
.home-body {
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: column;
}

#home-category-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}