.search-results {
    background-color: transparent;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    overflow: hidden;
}

.no-products {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters select {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.3rem;
    }

    .products {
        gap: 10px;
    }
}