.container-over {
    padding: 10%;
}

.email-form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;

    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input.error,
textarea.error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #5046ac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0048ff;
}

.checkbox-group {
    margin-bottom: 30px;
    display: inline-flex;
    vertical-align: center;

}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group label {
    font-size: 14px;
    color: #555;
    margin: 0;
    white-space: nowrap;
}