.messages-container {
    display: flex;
    min-height: calc(100vh - 300px);
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

.sidebar {
    width: 270px;
    padding: 20px;
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
}

.sidebar h3 {
    margin-bottom: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 2%;
    cursor: pointer;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.sidebar li:hover {
    background-color: #ddd;
}

.sidebar .active {
    font-weight: bold;
    background-color: #e0e0e0;
}

.messages-list1 {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.messages-list1 ul {
    padding: 0;
    margin: 0;
}

.messages-list1 li {
    list-style: none;
    padding: 2px;
    margin: 2px;
}

.message-item1 {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    transition: background 0.2s;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    cursor: pointer;
    padding-left: 10px;
}

.message-header div {
    display: flex;

    align-items: center;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.message-header:hover {
    background-color: #e0e0e0;
}

.message-content-paragraph {
    padding-top: 10px;

    padding-bottom: 20px;
}

.message-body {
    margin-top: 30px;
    padding-left: 10px;
}

.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: 0px;
    flex-direction: column;
    background-color: #f0f0f0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination span {
    font-size: 16px;
}

.messages-per-page {
    margin-left: 130px;
    margin-bottom: 10px;
}

.messages-per-page label {
    margin-right: 5px;
}

.messages-per-page input {
    width: 50px;
    padding: 5px;
    font-size: 14px;
}

.date-section {
    padding-left: 50px;
    padding-right: 1px;
    margin-right: 10%;
    display: inline;
    white-space: nowrap;
}

.checkboxcustom {
    padding-left: 20px;
    padding-right: 1px;
    margin-right: 10%;
    display: inline;
    white-space: nowrap;
}

.otherCheckbox {
    padding-left: 50px;
    padding-right: 1px;
    margin-right: 10%;
    display: inline;
    white-space: nowrap;
}

.message-header button {
    background-color: transparent;
    border: 0px solid #ccc;
    border-radius: 12%;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.message-header button:hover {
    background-color: #ff6f6f;
}

input[type="checkbox"] {
    transform: scale(1.7);
}

.actions-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;

}

.action-buttons {
    border-radius: 5px;
}

.message-note {
    margin-top: 10px;
}

.message-reply-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}

button:hover {
    background-color: #a8a8a8;
}