.footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 5px 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer small {
    font-size: 0.75rem;
}