.navbar {
  padding: 0 35px;
  width: 100%;
  height: 100px;
  box-shadow: 0 2px 25px 0px rgba(0, 0, 0, 0.25);
  color: black;

  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
}

.navbar h1 {
  margin: 0;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}

#search-form {
  border: 1px solid black;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  flex-basis: 290px;
  flex-grow: 1;
}

#search-form * {
  border: none;
}

#search-form img {
  margin-left: 10px;
  margin-right: 10px;
}

#search-form input {
  outline: none;
}

#getin-btns button {
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
}

#signup-btn {
  border: none;
}

#signup-btn:hover {
  background-color: transparent;
  color: inherit;
}

@media screen and (max-width: 992px) {
  .navbar {
    gap: 20px;
  }

  #signup-btn {
    display: none;
  }

  #search-form {
    display: none;
  }
}