.review-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.review-form-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.review-form-message {
    border: 1px solid #2B2B2B;
    border-left: none;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 10px;
}

.review-form-message textarea {
    border: none;
    border-left: 1px solid #2B2B2B;
    border-radius: 10px;
    outline: none;
    resize: none;
    font-size: 16px;
    padding: 16px;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .review-form-message textarea {
        min-width: 350px;
        resize: horizontal;
    }
}

.review-form-message button {
    background-color: #2B2B2B;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    padding: 0 30px;
    height: 100%;
    cursor: pointer;
}

.review-form-body button.not-working {
    cursor: default;
}

@media screen and (max-width: 768px) {
    .review-form {
        flex-direction: column;
        gap: 15px;
    }

    .review-form-message {
        grid-template-columns: 1fr;
    }
}