.product-page {
    margin: 25px 50px;
}

.product-page p {
    margin: 0;
    padding: 0;
}

.overview {
    display: flex;
    gap: 30px;
    flex-direction: row;
}

/* TODO: Implement aspect ratio of the image here  */
.product-image,
.product-desc {
    width: 50%;
    max-height: 500px;
}

.product-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.product-page h1 {
    font-weight: 900;
    line-height: 1;
}

.product-page h3 {
    font-weight: 750;
}

.product-desc .seller {
    color: rgba(0, 0, 0, 0.75);
    line-height: 1;
    font-size: 0.85rem;
    font-weight: 600;
}

.product-page .rating {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    font-weight: 650;
}

.product-page .rating .star-rating {
    height: 20px;
    display: flex;
}

.product-heading {
    display: flex;
    justify-content: space-between;
}

.rating-sold-stock>p,
.review-date {
    color: rgba(0, 0, 0, 0.75);
    line-height: 1;
    font-size: 0.85rem;
    font-weight: 600;
    margin-top: 10px;
    text-align: right;
}

.review-images {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.product-custom-options {
    font-weight: 645;
}

.option {
    margin: 15px 0;
}

.option>p {
    font-weight: 700;
}

.option-chips {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button.option-chip {
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
}

button.option-chip:focus {
    outline: none;
    background-color: black;
    color: white;
}

.color-option {
    text-align: center;
}

.color-option>button {
    border-radius: 50%;
    padding: 0;
    border: none;
}

button.color-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: none;
}

button.color-image:focus {
    outline: none;
    border: 2px solid black;
}

.color-option p {
    font-size: 0.75rem;
}

button.more-options {
    width: 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
}

button.add-to-cart {
    width: 50%;
    height: 65px;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-top: 15px;
}

button.add-to-cart:hover {
    background: #343a40;
}

.buy-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buy-product .price {
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    gap: 15px;
}

.buy-product .sale {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    text-align: right;
}

.buy-product .price-before {
    text-decoration: line-through;
    font-weight: 600;
}

.buy-product .discount {
    color: red;
    font-weight: 700;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

tr {
    display: flex;
    flex-direction: row;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

td:not(.spec-name) {
    flex-grow: 1;
}

td.spec-name {
    background-color: lightgrey;
    width: 150px;
    flex-shrink: 0;
}

.review-section {
    max-height: 700px;
    padding: 15px;
    overflow-x: hidden;
}

.filter-reviews {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-reviews>button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.filter-reviews>button:hover,
.filter-reviews>button:focus {
    background-color: black;
    color: white;
}

.review-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
    width: 100%;
}

.review {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.review-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.review-body {
    font-size: 0.9rem;
}

.review-author {
    font-weight: 700;
}

.review-comment {
    word-break: break-all;
    overflow: anywhere;
}

.load-more {
    width: 100%;
    height: 50px;
    border: 1px solid #2B2B2B;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.load-more:hover {
    background-color: #2B2B2B;
    color: white;
}

@media screen and (max-width: 768px) {

    .product-page {
        margin: 0;
    }

    .product-heading,
    .product-custom-options,
    .buy-product,
    .specs,
    .reviews {
        margin: 15px 35px;
    }

    .specs,
    .reviews {
        margin-top: 50px;
    }

    .overview {
        flex-direction: column;
    }

    .product-image,
    .product-desc {
        width: 100%;
    }

    .product-image>img {
        border-radius: 0;
    }

    button.more-options {
        width: 100%;
    }

    .buy-product {
        flex-direction: column;
        text-align: right;
        gap: 10px;
    }

    .buy-product button {
        width: 100%;
    }

    .buy-product .price {
        width: 100%;
        justify-content: flex-end;
        font-size: 1.25rem;
    }

    tbody {
        grid-template-columns: 1fr;
    }

    .review-card {
        margin: 28px 0;
    }

    .review-card {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .review-metadata {
        order: 1;
    }

    .review {
        order: 2;
    }

    .product-page .rating {
        justify-content: flex-start;
    }

    .product-page .review-author {
        padding-top: 3px;
    }

    .review-avatar {
        display: none;
    }

}